.profile__name {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin: 0;  
    grid-area: name;  
}

@media screen and (max-width: 380px) {
    .profile__name {        
        font-size: 27px;
        text-align: center;
    }
}