.popup__close-container {
    max-width: 530px;
    height: 375px;
    width: 100%;
    background: none;     
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}