.profile__avatar {
    border-radius: 150px;
    width: 127.5px;
    height: 127.5px;
}

@media screen and (max-width: 900px) {
    .profile__avatar {
        margin-left: 27px;  
    }
}

@media screen and (max-width: 780px) {
    .profile__avatar {
        margin: 0 auto;  
    }
}