.profile__info {
    display: grid;
    grid-template-areas: 
    'name edit-button'
    'about about';
    grid-row-gap: 16px;
    grid-column-gap: 17px;
    align-items: baseline; 
    margin-top: 21.75px;
    margin-right: auto;
    margin-left: 41.25px;
}

@media screen and (max-width: 780px) {
    .profile__info {
        margin: 0 auto; 
        padding-bottom: 36px; 
    }
}